
{% extends "base.html" %}

{% block content %}

<h1>CharList</h1>

{% for obj in character %}
<p>Имя {{obj.name}}</p>
<p>Опыт {{obj.expirience}}</p>
<p>Класс защиты {{obj.armor}}</p>
<p>Скорость {{obj.speed}}</p>
<p>Инициатива {{obj.iniciative}}</p>
<p>Макс здоровье {{ char_max_health }}</p>
<p>Текущ. здоровье {{obj.current_health}}</p>
<p>Кости здоровья {{obj.multipler_health}}</p>

<h2>Свойства Личности</h2>
<p>Возраст: {{ obj.age }}</p>
<p>Внешность: {{ obj.appearance }}
<p>Вес: {{ obj.weight}}</p>
<p>Рост: {{ obj.height }}</p>
<p>Мировозрение: {{obj.worldview}}</p>
{% endfor %}

<h2>Расса</h2>
{% for obj in race_bonuces.all %}
<p>Имя {{obj.race.name}}</p>
<h2>Рассовыые навыки</h2>
<p>Имя способности {{obj.bonuce_skills.name}}</p>
<p>Описание {{obj.bonuce_skills.description}}</p>
<p>Тип Урона {{obj.bonuce_skills.dmg_type}}</p>
<p>Бонус Урона {{obj.bonuce_skills.dmg_bonus}}</p>

{% endfor %}


<h2>Класс</h2>
{% for class in char_class.all %}
<p>Класс {{ class.class_name }} | Уровень: {{ class.lvl }} | Основной: {{ class.main }}</p>
{% endfor %}
<p></p>
<h2>Характеристики</h2>

{% for stat in char_stats.all %}
<p> Сила {{ stat.strength | add:race_bonuces_int.strength_bonuce }} | ({{ char_modif.strength }} )</p>
<p> Ловкость {{ stat.agility | add:race_bonuces_int.agility_bonuce }} |  ({{ char_modif.agility }} )</p>
<p> Выносливость {{ stat.stamina | add:race_bonuces_int.stamina_bonuce }} | ({{ char_modif.stamina }} )</p>
<p> Интелект {{ stat.intelligence | add:race_bonuces_int.intelligence_bonuce }} | ({{ char_modif.intelligence }} )</p>
<p> Мудрость {{ stat.wisdom | add:race_bonuces_int.wisdom_bonuce }} | ({{ char_modif.wisdom }} )</p>
<p> Харизма {{ stat.charism | add:race_bonuces_int.charism_bonuce  }} | ({{ char_modif.charism}} )</p>
<p></p>
{% endfor %}

<h2>Навыки</h2>

<h4>Модиф.(Сила)</h4>
<p>Атлетика: {{ char_atrs.athletics }}</p>
<h4>Ловкость</h4>
<p>Акробатика: {{ char_atrs.acrobatics }}</p>
<p>Ловкоть рук:{{ char_atrs.sleight_of_hand}}</p>
<p>Скрытность: {{ char_atrs.stealth }}</p>
<h4>Модиф.(Интелект)</h4>
<p>Анализ: {{ char_atrs.analysis }}</p>
<p>История: {{ char_atrs.history }}</p>
<p>Магия: {{ char_atrs.magic }}</p>
<p>Природа: {{ char_atrs.nature }}</p>
<p>Религия: {{ char_atrs.religion }}</p>
<h4>Модиф.(Мудрость)</h4>
<p>Внимательность: {{ char_atrs.attentiveness }}</p>
<p>Выживание: {{ char_atrs.survival }}</p>
<p>Медицина: {{ char_atrs.medicine }}</p>
<p>Проницательность: {{ char_atrs.insight }}</p>
<p>Уход за животными: {{ char_atrs.animal_care }}</p>
<h4>Модиф.(Харизма)</h4>
<p>Запугивание: {{ char_atrs.intimidation }}
<p>Обман: {{ char_atrs.deception }}
<p>Убеждение: {{ char_atrs.conviction }}
<p>Выступление: {{ char_atrs.performance }}

<h2>Боевые навыки и заклинания</h2>
{% for i in char_spells.all %}
<p>Название: {{i.name}}</p>
<p>Базовая характеристика: {{ i.base_stat }}</p>
<p>Бонус Урона: {{i.dmg_bonus}}</p>
<p>Тип: {{i.dmg_type}}</p>
<p>Описание: {{i.description}}</p>
{% if i.lvl_spell %}
<p>Уровень заклинания: {{ i.lvl_spell }}</p>
<p>Базовая сложность: {{i.difficult}}</p>
{% endif %}
<p>Количество применения в день: {{ i.limit_per_day}}</p>
<p></p>
{% endfor %}

<h2>Персональные особенности</h2>
{% for i in char_person_traits %}
<p>Навык {{i.name}}</p>
<p>Идеал: {{ i.ideal }}</p>
<p>Привязаность: {{ i.bond }}</p>
<p>Изъян: {{ i.flaw }}</p>
{% endfor %}

<h2>Прочие навыки</h2>
{% for i in char_other_skills %}
<p>{{i.name}}</p>
{% endfor %}



<h2>Смерти</h2>
{% for i in char_death %}
<p>Статус: {{i.character_death_status}}</p>
<p>Провалы {{i.failure }}</p>
<p>Успехи {{i.success}}</p>
<p></p>
{% endfor %}

<h2>Предметы</h2>

{% for i in char_items %}
<p> Название: {{ i.item.name }} </p>
<p> Редкость: {{ i.item.rarity }}</p>
<p> Количество: {{i.quantity }}</p>
<p></p>
{% endfor %}

{% endblock content %}




